$grey: #eee;
$dark-grey: #ddd;
$orange: #DE6828;
$orange-light: #f87016;
$navy: #162C34;
$green: #2ECC40;
$red: #FF4136;
$yellow: #FFDC00;

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
}
