<!DOCTYPE html>
html(lang="da" ng-app)
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Kandidatlisten
  link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")
  link(rel="stylesheet" href="bower_components/ionicons/css/ionicons.css")
  link(rel="stylesheet" href="styles.min.css")
body
  div.container
    ul.helper
      li 
        | Sandsynligvis valg iflg Berlingske #[strong (131)] 
        div.status.maybe
          i.ion-record
          i.ion-record
          i.ion-record
      li 
        | Valg iflg. Berlingske #[strong (8)]
        div.status.pretty-sure
          i.ion-record
          i.ion-record
          i.ion-record
      li 
        | Officielt valgt #[strong (12)]
        div.status.definitely
          i.ion-record
          i.ion-record
          i.ion-record
      li Antal mandater fordelt #[strong (121/179)]
    h1.header Her er de 179 nye folketingsmedlemmer
    p.description Her er oversigten over de 179 nye folketingsmedlemmer - 109 mænd og 70 kvinder - efter valget den 15. september 2011. Der tages forbehold for evt. yderligere fintællinger.
    small.updated Senest opdateret: Fredag den 24. april kl. 10:36
    div.view
      div.toggler
        strong Visning
        span.togg.active Parti
        span.togg Kandidat
      strong.show-all Vis alle kandidater #[i]
      .clearfix
    div
      h1.party-header 
        img.party-logo(src="img/a_big.png" srcset="img/a_big@2x.png 2x" alt="Socialdemokraterne")
        | Socialdemokraterne
      div.table-stats Antal stemmer: 881.534 - Andel: 24,9 % - Mandater: 44
      table.striped
        thead
          tr
            th Kandidat #[i]
            th Storkreds #[i]
            th Stemmetal #[i]
            th Status #[i]
        tbody
          tr
            td 
              img.avatar(src="img/dummy.png")
              | Sophie Hæstorp Andersen
            td Københavns Omegns
            td.number 919528
            td.status
              i.ion-record
              i.ion-record
              i.ion-record
          tr
            td 
              img.avatar(src="img/dummy.png")
              | Sophie Hæstorp Andersen
            td Københavns Omegns
            td.number 919528
            td.status.maybe
              i.ion-record
              i.ion-record
              i.ion-record
          tr
            td 
              img.avatar(src="img/dummy.png")
              | Sophie Hæstorp Andersen
            td Københavns Omegns
            td.number 919528
            td.status.pretty-sure
              i.ion-record
              i.ion-record
              i.ion-record
          tr
            td 
              img.avatar(src="img/dummy.png")
              | Sophie Hæstorp Andersen
            td Københavns Omegns
            td.number 919528
            td.status.definitely
              i.ion-record
              i.ion-record
              i.ion-record
            
  script(src="bower_components/angular/angular.js")
  script(src="bower_components/angular-touch/angular-touch.js")
  script(src="bower_components/angular-route/angular-route.js")
  script(src="scripts.min.js")
