<!DOCTYPE html>
html(lang="da" ng-app)
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Kandidatlisten
  link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")
  link(rel="stylesheet" href="bower_components/ionicons/css/ionicons.css")
  link(rel="stylesheet" href="styles.min.css")
body
  div.container
    h1.header Her er de 179 nye folketingsmedlemmer
    ul.helper
      li
        | Sandsynligvis valgt iflg Berlingske #[strong (131)]
        div.status.maybe
          i.ion-record
          i.ion-record
          i.ion-record
      li
        | Valgt iflg. Berlingske #[strong (8)]
        div.status.pretty-sure
          i.ion-record
          i.ion-record
          i.ion-record
      li
        | Officielt valgt #[strong (12)]
        div.status.definitely
          i.ion-record
          i.ion-record
          i.ion-record
      li.mandater Antal mandater fordelt #[strong (121/179)]
        div.status
    p.description Her er oversigten over de 179 nye folketingsmedlemmer - 109 mænd og 70 kvinder - efter valget den 15. september 2011. Der tages forbehold for evt. yderligere fintællinger.
    small.updated Senest opdateret: Fredag den 24. april kl. 10:36
    div.view
      div.party.toggler
        span.toggler-label Visning
        .switch
          input#parti.switch-input(type='radio', name='view', value='parti', checked='')
          label.switch-label.switch-label-off(for='parti') Parti
          input#kandidat.switch-input(type='radio', name='view', value='kandidat')
          label.switch-label.switch-label-on(for='kandidat') Kandidat
          span.switch-selection
      div.checkbox.toggler
        input#showallcandidates.fancycheckbox-input(type="checkbox" name="showallcandidates")
        label.fancycheckbox-label(for="showallcandidates")
          span.toggler-label Vis alle kandidater
      .clearfix
    div
      h1.party-header
        i.partylogo.small.a
        | Socialdemokraterne
      table.table-stats
        tr
          td Antal stemmer
          td.number 881.534
        tr
          td Andel
          td.number 24,9%
        tr
          td Mandater
          td.number 44
      table.striped
        thead
          tr
            th Kandidat #[i]
            th.mobile-hide Storkreds #[i]
            th.number Stemmer #[i]
            th.status Status #[i]
        tbody
          each i in new Array(10)
            tr
              td
                img.avatar(src="img/dummy.png")
                span.candidatename Sophie Hæstorp Andersen
                span.candidatelocation Københavns Omegns
              td.mobile-hide Københavns Omegns
              td.number 919528
              td.status
                i.ion-record
                i.ion-record
                i.ion-record

  script(src="bower_components/angular/angular.js")
  script(src="bower_components/angular-touch/angular-touch.js")
  script(src="bower_components/angular-route/angular-route.js")
  script(src="scripts.min.js")
